@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html
{
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */
}
*
{
    box-sizing: inherit;
}
body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}
a
{
    text-decoration: none;
    color: black;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
li
{
    display: inline-block;
}
h1
{
    margin: 0;
}
.header 
{
    background-image: url(img/header/bg.png);
    height: 1080px;
    max-width: 1920px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 20px;
}
.container 
{
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 10px;
}
.headerInfo 
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.headerInfoL
{
    /* height: 60px; */
    width: 570px;
    position: relative;
    color: #34383d;
}
.headerInfoL a
{
    padding-left: 40px;
    color: #34383d;
    display: inline-block;
}
.headerInfoL a::before
{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(img/header/headphone.svg);
    position: absolute;
    left: 0;
    top: -2px;
}
.headerInfoL span
{
    margin-left: 60px;
    font-style: italic;
    display: inline-block;
}
.headerInfoR
{
    /* height: 60px; */
    width: 460px;
}
.headerInfoR a
{
    width: 220px;
    height: 60px;
    border: 1px solid #CDA861;
    padding: 16px 23px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    display: inline-block;
    color: #fff;
}
.headerInfoR a.btnGold
{
    background-color: #CDA861;
    color: #34383d;
}
.headerTitle 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
}
.headerTitleL 
{
    display: flex;
    min-width: 1050px;
    align-items: center;
}
.headerTitleL img
{
    margin-right: 45px;
}
.headerTitleR 
{
    min-width: 120px;
}
.headerTitleR img
{
    margin-right: 40px;
}
.menu {
}
.menuItem 
{
    margin-right: 50px;
}
.menuItem a
{
    color: #34383d;
    opacity: 0.6;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}
.menuItem a:hover
{
    opacity: 1;
    border-bottom: 3px solid #CDA861;
}
.headerContent {
}
.headerContentTxt {
}